.btn-icon {
  width: 174px;
  height: 40px;
  background: #00285f;
  border-color: #00285f;
  text-align:center;
  border-radius: 5px;
}

.btn-icon:hover {
  background: #00285f;
  border-color: #00285f;
}

.btn-icon h6 {
  padding-top: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
